/* 3.59:1, large font*/
.passes-aa-ex1 {
  font-size: large;
  color: #5d5dff;
  background-color: #e1e1e1;
}

/* 6.29:1*/
.passes-aa-ex2 {
  color: #3e3eff;
  background-color: white;
}

/* 6.29:1, large font*/
.passes-aaa-ex1 {
  color: #3e3eff;
  background-color: white;
  font-size: large;
}
/* 9.78:1*/
.passes-aaa-ex2 {
  color: #001cd0;
  background-color: #f1fff1;
}


/*1.35:1 and fails level AA even for large font*/
.fails-aa-ex1 {
  font-size: large;
  color: #ff5429;
  background-color: #ff7db1;
}

/* 4.28:1 but fails level AA for normal font size*/
.fails-aa-ex2 {
  color: #6d5fe8;
  background-color: #eeff55;
}


/* fails level AAA because you should specify both the foreground and background colors */
.fails-aaa-ex1 {
  color: white;
}

/* 3.59:1 and fails level AAA even for large font size*/
.fails-aaa-ex2 {
  color: #5d5dff;
  background-color: #e1e1e1;
  font-size: large;
}

/* 6.29:1 but fails level AAA for normal font size*/
.fails-aaa-ex3 {
  color: #3e3eff;
  background-color: white;
}

/* 2.3:1 fails level AA*/
.-epub-media-overlay-active {
  color: #9a9aff;
  background-color: #fbff18;
}

/* 2.66:1 fails level AA*/
.-epub-media-overlay-playback-active {
  color: #7e8b91;
  background-color: #e0e0e0;
}
