@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

h1 { color: rgb(0,90,156); }
h2 { font-size: 140%;}
h3 { font-size: 130%; }
h4 { font-size: 120%; }

body {
    font-family: arial, helvetica, sans-serif;
    color: black;
    background: white;
}

dl.info dt {
    font-weight: bold;
    margin-bottom: 1em;
}

nav#toc ol  {
    list-style-type: none;
}

nav a {
	text-decoration:none;
	color:black;
}

.eval {
	font-weight:bold;
}

.eval:before {
	content:"→";
}

.conditional {
	font-style: italic;
}

table, th, td{
 border: 1px solid black;
border-collapse:collapse;
padding:15px;

 }

aside[epub|type~="sidebar"]
{   padding: 0.5em;
   margin-left: 1em;
   margin-right: 1em;
   width: 30%;
   background-color: rgb(240,240,240);
   float:left;
   border: 0.5px solid gray;
}

p.sidebartype
{   padding: 0.5em;
   margin-left: 1em;
   margin-right: 1em;
   width: 30%;
   background-color: rgb(240,240,240);
   float:left;

}

aside[epub|type~="footnote"]
{
   font-size: 80%;
   font-style: italic;


   margin-left: 1em;
   margin-right: 1em;
   padding: 0.5em;
   clear:both;
}

p.sample {
width: 60%;
float:right;
margin-left: 1em; margin-right: 1em;
}


figure.image {
    margin-bottom: 30px;
}

figure.image figcaption {
    font-size: medium;
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}


.sample-text {
overflow:hidden;
    margin-bottom: 1em;
    padding-left: 1em;
}



.OK h2::after, h3::after, h4::after {
  content: " [ok]";
  color: green;
  font-variant: small-caps;
}
.error h2::after, h3::after, h4::after {
  content: " [error]";
  color: red;
  font-variant: small-caps;
}

.warning h2::after, h3::after, h4::after{
  content: " [warning]";
  color: orange;
  font-variant: small-caps;
}

.notice h2::after, h3::after, h4::after {
  content: " [notice]";
  color: #959934;

  font-variant: small-caps;
}

.test-id {
  color: #515151;
  font-variant: small-caps;
  font-size: smaller;
}

.test-id::before {
  content: "["
}

.test-id::after {
  content: "] "
}

aside[epub|type~='tip']::before {
  content: "TIP!";
  color: blue;
}

aside[epub|type~='tip'] {
  background-color: #c2d7f9;
  width: 30%;
}
